# 🔴 Ignorowanie wirtualnego środowiska
.venv/
venv/

sonar-project.properties

__pycache__/
*.py[cod]

*.log
*.tmp
*.bak
*.swp
*.swo

htmlcov/
coverage.xml
*.cover
*.pytest_cache/
.nox/
tox/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

Pipfile
Pipfile.lock
